<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style1.css">
    <title>Feedback</title>
</head>
<body>
<header>
    <h1>Feedback</h1>

</header>
<main>
   
    <form action="{{ url_for('feedback') }}" method="POST">
        <div>
            <p><label for="feedback">Feedback or Issue:</label></p>
            <p><textarea id="feedback" name="feedback" rows="4" required></textarea></p>
        </div>
        <p><a><input type="submit" value="Submit Feedback"></a></p>

    </form>
    
    <p><a href="{{ url_for('user_dashboard') }}">Back to Dashboard</a></p>
</main> 
</body>
</html>
